/* header start */
.header {
  top: 0;
  width: 100%;
  height: 93px;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  position: fixed;
  z-index: 1;
}
#gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 93px;
  margin: 0 auto;
  padding: 0 25px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: start;
}
.link li a {
  display: inline-block;
  padding: 10px 0;
  text-indent: -999rem;
}
.link li:first-child {
  background: url(../img/github-brands.svg) no-repeat 0 0;
  margin-right: 50px;
  width: 33px;
  height: 33px;
}
.link li:last-child {
  background: url(../img/vimeo-brands.svg);
  width: 29px;
  height: 33px;
}
.logo {
  height: 53px;
  letter-spacing: 2px;
}
.logo h1 div:first-child {
  font-family: 'IBM Plex Serif', serif;
  font-size: 36px;
  text-align: center;
}
.logo div:last-child {
  font-size: 11px;
  font-weight: normal;
}
.jump {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jump a {
  font-size: 18px;
}
.jump li:first-child {
  position: relative;
}

.jump li:last-child {
  padding-left: 50px;
}
/* header reponsive  start*/
@media screen and (max-width:1600px) {
  #gnb {
    width: 90%;
  }
}

@media screen and (max-width:768px) {
  .header {
    height: 60px;
  }
  #gnb {
    height: inherit;
  }
  .link li:first-child {
    margin-right: 25px;
  }
  .logo h1 div:first-child {
    font-size: 1.8rem;
  }
  .jump li:last-child {
    padding-left: 25px;
  }
}

@media screen and (max-width:450px) {
  #gnb {
    height: inherit;
  }
  .link li:first-child {
    width: 28px;
    margin-top: 5px;
    margin-right: 10px;
  }
  .link li:last-child {
    width: 28px;
    margin-top: 5px;
  }
  .logo {
    height: 35px;
  }
  .logo h1 div:first-child {
    font-size: 1.8rem;
  }
  .logo div:last-child {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .jump a {
    font-size: 16px;
  }
  .jump li:last-child {
    padding-left: 15px;
  }
}
/* header reponsive  start*/
/* header end */

/* section01 start */
.section01 {
  width: 100%;
  position: relative;
}
.title {
  position: absolute;
  top: 20%;
  left: 10.5%;
  animation: slideY 2s linear;
  font-size: 2rem;
  margin-top: 100px;
}
@keyframes slideY {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.title p {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.title h2 {
  width: 657px;
  font-size: 7rem;
  color: #000;
}
.title h2 span {
  color: rgb(255, 82, 82);
}
.puppy {
  position: absolute;
  margin: 5% 0 0 11%;
  width: 10%;
}
.nap {
  margin: 9% 5% 10% 0;
  padding-left: 35%;
  width: 60%;
  height: auto;
}
/* section01 reponsive  start*/
@media screen and (max-width:1600px) {
  .title {
    left: 5%;
  }
  .title h2 {
    font-size: 5.5rem;
  }
  .puppy {
    margin-top: 9.2%;
  }
  .nap {
    margin-top: 15%;
    padding-left: 25%;
    width: 70%;
  }
}

@media screen and (max-width:1024px) {
  .title p {
    font-size: 1.7rem;
  }
  .title h2 {
    font-size: 4rem;
    width: 60%;
  }
  .puppy {
    margin-top: 12.5%;
    margin-left: 9%;
  }
}

@media screen and (max-width:768px) {
  .title {
    position: absolute;
    top: 10%;
  }
  .title p {
    font-size: 2rem;
  }
  .title h2 {
    font-size: 4.5rem;
  }
  .puppy {
    margin-top: 12.5%;
    width: 18%;
  }
  .nap {
    padding: 58% 2.5% 10% 2.5%;
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width:450px) {
  .title {
    top: 12%;
    width: 70%;
  }
  .title p {
    font-size: 1.1rem;
  }
  .title h2 {
    font-size: 2.8rem;
  }
  .puppy {
    margin-top: 22%;
    width: 25%;
  }
  .nap {
    padding: 100% 5% 20% 5%;
    margin: 0;
  }
}
/* section01 reponsive  end*/
/* section01 end */

/* section02 start */
.section02 {
  width: 100%;
  margin: 0 auto;
}
.section02_item_wrap {
  width: 1200px;
  margin: 0 auto;
}
.section02_item_box>li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  padding: 10% 0;
}
.section02_item_box>li:nth-child(2n) {
  flex-direction: row-reverse;
}
.section02_item_box>li>a {
  display: block;
  width: 62%;
  padding: 1.5%;
}
.section02_item_box>li>a img {
  width: 100%;
}
.section02_item_box .text_box {
  width: 35%;
}
.section02_item_box>li h2 {
  font-size: 3.5rem;
  font-weight: normal;
}
.section02_item_box>li p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  padding: 17% 0 2% 0;
}
.section02_item_box>li .de_box {
  font-size: 1.2rem;
  margin-bottom: 5%;
}
.section02_item_box>li .de_box>li {
  position: relative;
  margin-left: 5%;
  line-height: 2rem;
}
.section02_item_box>li .de_box>li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 100%;
}
.de_box i {color: rgb(255, 82, 82);}
.section02_item_box>li .hash_tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
}
.section02_item_box>li .hash_tag>li {
  padding: 3%;
  font-size: 1rem;
  border-radius: 50px;
  border: 1px solid #000;
  transition: .5s;
}
.hash_tag li:hover,
.hash_tag li:active{
  background-color: rgb(255, 82, 82);
  border: 1px solid rgb(255, 82, 82);
}
.hash_tag li:hover a {color: #fff;}
.section02_item_box>li .skill_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
}
.skill_box li {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.skill_box li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px solid #000;
}
.skill_img_wrap li:last-child {
  padding-right: 0;
}

/* section02 reponsive  start*/
@media screen and (max-width:1600px) {
  .section02 {
    width: 100%;
  }
  .section02_item_wrap {
    width: 90%;
  }
  .section02_item_box>li h2 {
    font-size: 2.5rem;
  }
  .section02_item_box>li p,
  .section02_item_box>li .de_box {
    font-size: 1.1rem;
  }
  .section02_item_box>li .hash_tag>li {
    font-size: .9rem;
  }
  .skill_box li {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
  }  
}

@media screen and (max-width:1024px) {
  .section02_item_wrap {
    width: 90%;
    margin: 0 auto;
  }
  .section02_item_box>li {
    display: block;
    margin-top: 50px;
  }
  .section02_item_box>li h2 {
    font-size: 2.5rem;
    font-weight: normal;
    padding-top: 5%;
  }
  .section02_item_box>li p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
    padding: 5% 0 2% 0;
  }
  .section02_item_box>li:nth-child(2n) {
    flex-direction: row;
  }
  .section02_item_box>li>a {
    display: block;
    width: 100%;
  }
  .section02_item_box>li>a img {
    width: 100%;
  }
  .section02_item_box .text_box {
    width: 100%;
  }
  .section02_item_box>li .hash_tag {
    padding-top: 0%;
  }
  .section02_item_box>li .hash_tag>li {
    padding: 3% 8%;
    font-size: 1.2rem;
  }
  .skill_box li {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width:768px) {
  .section02_item_box>li .hash_tag>li {
    padding: 2%;
    font-size: 1.3rem;
  }
}

  @media screen and (max-width:450px) {
  .section02 {
    width: 100%;
  }
  .section02 {
    width: 100%;
  }
  .section02_item_wrap {
    width: 90%;
    margin: 0 auto;
  }
  .section02_item_box>li {
    display: block;
    margin-top: 50px;
  }
  .section02_item_box>li:nth-child(2n) {
    flex-direction: row;
  }
  .section02_item_box>li>a {
    display: block;
    width: 100%;
  }
  .section02_item_box>li>a img {
    width: 100%;
  }
  .section02_item_box .text_box {
    width: 100%;
  }
  .section02_item_box>li .hash_tag>li {
    padding: 2% 0.5%;
    font-size: .85rem;
  }
  .skill_box li img {
    width: 90%;
    height: 70%;
    border: 2px solid #000;
  }
}
/* section02 reponsive  end*/
/* section02 end */

/* section03 start */
.section03 {
  width: 1250px;
  margin: 0 auto 5% auto;
}
.ps_title_wrap {
  margin: 10% 0 15% 0;
  text-align: center;
  position: relative;
}
.ps_title_wrap div {
  position: absolute;
  top: -50%;
  left: 32%;
  font-size: 1.3rem;
  transform: rotate(-10deg);
}
.ps_title_wrap h2 {
  font-size: 3rem;
}
.skill_IMG_wrap {
  width: 100%;
  margin: 0 auto;
}
.skill_IMG_wrap li {
  display: inline-block;
}
.skill_IMG_wrap li a {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 0 94px 30px 0;
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
  text-indent: -999em;
  display: inline-block;
}
.skill_IMG_wrap li:nth-child(6n) a {
  margin: 0 0 30px 0;
}
.skill_IMG_wrap li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  transition: .5s;
}
.html:before,
.html_color {
  background-color: #FF5722;
}
.css:before,
.css_color {
  background-color: #3595CF;
}
.js:before,
.js_color {
  background-color: #F7DF1E;
}
.jq:before,
.jq_color {
  background-color: #1169AE;
}
.sass:before,
.sass_color {
  background-color: #CD6799;
}
.vue:before,
.vue_color {
  background-color: #00B57B;
}
.bootstrap:before,
.bootstrap_color {
  background-color: #754FAD;
}
.github:before,
.github_color {
  background-color: #E84D31;
}
.figma:before,
.figma_color {
  background-color: #303030;
}
.xd:before,
.xd_color {
  background-color: #450135;
}
.illustrator:before,
.illustrator_color {
  background-color: #310000;
}
.photoshop:before,
.photoshop_color {
  background-color: #001D34;
}
.html_color {
  width: 90%;
}
.css_color {
  width: 80%;
}
.js_color {
  width: 60%;
}
.jq_color {
  width: 60%;
}
.sass_color {
  width: 70%;
}
.vue_color {
  width: 50%;
}
.bootstrap_color {
  width: 90%;
}
.github_color {
  width: 70%;
}
.figma_color {
  width: 95%;
}
.xd_color {
  width: 90%;
}
.illustrator_color {
  width: 70%;
}
.photoshop_color {
  width: 65%;
}
.skill_IMG_wrap li a:hover:before {
  height: 100%;
}
.skill_IMG_wrap li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.skill_wrap {
  opacity: 0;
  width: 126px;
  height: 41px;
  margin-bottom: 100px;
  transition: .3s;
}
.skill_IMG_wrap li:hover .skill_wrap,
.skill_IMG_wrap li:active .skill_wrap {
  opacity: 1;
}
.skill_wrap p {
  overflow: hidden;
  margin-bottom: 5px;
}
.skill_wrap span {
  font-size: .9rem;
}
.skill_IMG_wrap span:first-child {
  float: left;
}
.skill_IMG_wrap span:last-child {
  float: right;
}
.skill_inner {
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 3px;
}
.skill_IMG_wrap li:hover .skill_inner div,
.skill_IMG_wrap li:active .skill_inner div {
  height: 10px;
  animation: ani 1s;
  animation-fill-mode: both;
}
@keyframes ani {
  0% {
    width: 0;
  }
}

/* section03 reponsive start*/
@media screen and (max-width:1600px) {
  .section03 {
    width: 1000px;
    margin: 0 auto;
  }
  .skill_IMG_wrap li a {
    margin: 0 24px 30px 0;
  }
  .skill_IMG_wrap li:nth-child(6n) a {
    margin-right: 0;
  }
}

@media screen and (max-width:1024px) {
  .section03 {
    width: 100%;
  }
  .ps_title_wrap div {
    left: 22%;
  }
  .skill_IMG_wrap {
    padding: 0;
    width: 690px;
  }
  .skill_IMG_wrap li a {
    margin: 0 58px 30px 0;
  }
  .skill_IMG_wrap li:nth-child(6) a {
    margin: 0 58px 30px 0;
  }
  .skill_IMG_wrap li:nth-child(4n) a {
    margin-right: 0;
  }
}

@media screen and (max-width:768px) {
  .section03 {
    width: 100%;
  }
  .ps_title_wrap {
    width: 90%;
    margin: 0 auto;
    padding: 25% 0 10%;
  }
  .ps_title_wrap div {
    top: 50%;
    left: 15%;
  }
  .skill_IMG_wrap {
    width: 400px;
  }
  .skill_IMG_wrap li {
    margin-bottom: 10%;
  }
  .skill_IMG_wrap li a {
    margin: 0 13px 13px 0;
  }
  .skill_IMG_wrap li:nth-child(6) a {
    margin: 0 13px 15px 0;
  }
  .skill_IMG_wrap li:nth-child(4n) a {
    margin: 0 0 15px 0;
  }
  .skill_IMG_wrap li img {
    width: 80px;
    height: 80px;
  }
  .ps_title_wrap div {
    top: 45%;
    left: 5%;
  }
  .skill_IMG_wrap li a {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }
  .skill_wrap {
    opacity: 0;
    width: 80px;
    height: 41px;
    margin-bottom: 20px;
    transition: .3s;
  }
  .skill_wrap span {
    display: block;
    width: 100%;
    line-height: 1.5rem;
  }
}

@media screen and (max-width:450px) {
  .ps_title_wrap {
    width: 90%;
    margin: 0 auto 10% auto;
  }
  .ps_title_wrap div {
    top: 35%;
    left: 5%;
    font-size: 1.2rem;
  }
  .ps_title_wrap h2 {
    font-size: 2rem;
  }
  .skill_IMG_wrap {
    width: 280px;
    margin: 0 auto;
  }
  .skill_IMG_wrap li img {
    width: 120px;
    height: 120px;
  }
  .skill_IMG_wrap li {padding: 0 2%;}
  .skill_IMG_wrap li a {
    width: 120px;
    height: 120px;
    margin: 0;
    border-radius: 100%;
  }
  .skill_IMG_wrap li:nth-child(4n) a {
    margin: 0;
  }
  .skill_IMG_wrap li:nth-child(6) a {
    margin: 0;
  }
}
/* section03 reponsive end */
/* section03 end */